<!-- add "scroll-to-top" button when scrolled down -->
<a id='backToTop' href='#top'><span class='visually-hidden'>Scroll to top</span></a>
<footer role='contentinfo' class='container'>{{{blocks.studentFooter}}}</footer>