// @import "kth-style/public/sass/variables/sizes";
$black: #000000;
$white: #ffffff;
$light-grey: #d4d4d4;
$dark-grey: #65656c;

%bordered-area {
  border: 1px solid $light-grey;
  border-radius: 0.25rem;
  border-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

//****ICONS*****//

%icon-for-table-header {
  background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e%3csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath d='M10%2c0C4.48%2c0%2c0%2c4.48%2c0%2c10s4.48%2c10%2c10%2c10%2c10-4.48%2c10-10S15.52%2c0%2c10%2c0Z' style='fill:white%3b'/%3e%3crect x='9' y='9' width='2' height='6' style='fill:%2365656c%3b'/%3e%3crect x='9.03' y='5.03' width='2' height='2' style='fill:%2365656c%3b'/%3e%3c/svg%3e");
  height: 1.2em;
  width: 1.2em;
  margin-left: 0;
  vertical-align: middle;
  visibility: visible;
}

.icon-asterisk-black {
  background-image: url('https://app.kth.se/style/static/kth-style/img/kth-style/icons/asterisk-black.svg');
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

//**************/
.inline-flex {
  display: inline-flex;
}

#app {
  width: 100%;
}
.kursinfo-main-page {
  padding-bottom: 3em;
  width: 100%;
}
nav.main {
  a.link-back::before {
    margin-left: 10px;
  }
}

header[role='presentation'] {
  margin-top: 20px;
  margin-bottom: 16px;
  .alert {
    margin-left: 0;
  }
}

//INTRODUCTION TEXT UNDER KIP-MENU
span.intro-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  p {
    width: 100%;
  }
}

//== LIST OF COLLAPSIBLE TABLES ==
.list-section-per-year {
  margin: 0;
  h2 {
    margin-top: 38px;
    margin-bottom: 26px;
  }

  .h3-and-link {
    h3 {
      margin-top: 0;
    }
    display: flex;
    flex-direction: column;
    a {
      align-self: flex-start;
      margin: 0.7em 1em;
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      a {
        margin: 0;
      }
    }
  }

  & > section:first-of-type > h2 {
    margin-top: 0.7em;
  }
  .vertical-block-of-links {
    display: flex;
    flex-direction: column;
    margin: 0 0.2em 0;

    @media (min-width: 768px) {
      justify-content: flex-end;
      float: left;
      text-align: left;
    }
  }

  .right-block-of-links {
    float: left;
    text-align: left;
    margin: 0 0.2em 0;
    @media (min-width: 768px) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      float: right;
      text-align: right;
      margin: 0;
      p:last-of-type > a {
        margin-right: 0;
      }
    }
    .pdf-link {
      &:before {
        height: 20px;
        width: 20px;
        margin: 0 0.3em 0 0;
        vertical-align: -9%;
      }
    }
  }
}

//Collapsible "Additional information"
.extra-info {
  div {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  @media (min-width: 768px) {
    span.extra-kopps-info-from-kutv-api {
      align-self: flex-start;
      flex-basis: 60%;
      span {
        margin: 0;
      }
    }
    span:last-of-type {
      align-self: flex-start;
      height: 100%;
      margin-left: 3em;
      span {
        margin: 0;
        padding: 0;
      }
    }
  }
}

//===TABLE===
.table-for-each-course-offering {
  &.table {
    margin-bottom: 6px;
    th {
      text-align: center;
    }
    //Table elements  visibility for desktop
    td {
      .mobile-header-popovers {
        display: none;
      }
    }
  }
}

div.popover.show {
  top: -40px !important;
}

button.desktop.btn-info-modal,
button.mobile.btn-info-modal {
  @extend %icon-for-table-header;
  min-height: 0.75rem;
}

/*Table cells try to give it more stable width*/
/* ['responsibles', 'examiners', 'registeredStudents', 'examRounds', 'examinationGrade', 'alterationText']*/
@media (min-width: 768px) {
  .responsibles,
  .examiners {
    min-width: 9em;
    max-width: 9em;
  }
  .examRounds {
    min-width: 9em;
    max-width: 9em;
  }
  .registeredStudents {
    min-width: 8em;
    max-width: 8em;
  }
  .examinationGrade {
    min-width: 7em;
    max-width: 7em;
  }
}
.alterationText {
  word-wrap: break-word;
}

/*Mobile View for Tables*/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 767px) {
  /* Force table to not be like tables anymore */
  .table-for-each-course-offering {
    &.table table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: flex;
      flex-direction: column;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    &.table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    &.table tr {
      border: 1px solid #fff;
    }

    &.table td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #fff;
      position: relative;
      span.mobile-header-popovers {
        background: $dark-grey;
        color: $white;
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        justify-content: flex-start;
        margin: -0.7em -0.7em 0.3em -0.7em;
        padding: 0.5em;
        vertical-align: bottom;
        label {
          font-weight: 500;
          line-height: 1.2em;
          margin-right: 0.5em;
          white-space: normal;
          width: 100%;
        }
        button {
          align-self: flex-start;
          padding-right: 1em;
        }
      }
    }
  }
}

/* Archive Page */

#page-sub-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#page-sub-heading-admin-link {
  font-size: 1rem;
  line-height: 1.375;
  margin-bottom: 14px;
  margin-top: 0.325rem;
  text-align: right;
}

.archive-table {
  .pdf-link {
    margin-left: 0;
    margin-right: 0;
    &::before {
      display: inline-block;
      margin-left: 0;
    }
  }
}

.syllabus-table {
  th {
    width: 50%;
  }
}

.inline-information {
  font-style: italic;
}

@media (max-width: 991.98px) {
  #page-sub-heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: normal;
  }
  #page-sub-heading-admin-link {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .container.main {
    padding-top: 2rem;
  }
  #mainMenu.col.navbar {
    padding: 0 35px 15px 30px;
  }
  #mainMenu.col.navbar .nav-link.active {
    font-weight: 700;
  }
  .nav-link.active {
    color: black;
  }
}

.pdf-link-width-sv {
  width: 17.4rem;
}

.pdf-link-width-en {
  width: 22.4rem;
}

.memo-link-width-en {
  width: 18.4rem;
}

.memo-link-width-sv {
  width: 15.7rem;
}

.pdf-memo-link-container {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-link:disabled,
.btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.popover {
  --bs-popover-header-padding-y: 0.5rem;
  --bs-popover-header-padding-x: 0.75rem;
  --bs-popover-body-padding-y: 0.5rem;
  --bs-popover-body-padding-x: 0.75rem;
}
