// @import "kth-style/public/sass/variables/sizes";

.kursinfo-main-page {    
    padding-bottom: 3em;
    padding-top: 2em;
    //margin-bottom: 20px;
}
.courseTitle {
    margin: 0;
    margin-top: 20px;
    h1 {
        margin-bottom: 0;
    }
    .alert {
        margin-left: 0;
    }
}

.alert {
    max-width: 100em;
    margin: 15px;
}

.kip-menu {
    max-width: 30em;
    margin-left: 1em;
    .link-to::after{
      background: url(https://app.kth.se/style/kth-style/img/kth-style/icons/pill-back.svg) no-repeat;
      transform: rotate(180deg);
    }
}

.intro-text {
    width: 100%;
    margin-left: 1em;
}

.tables-list {
    margin: 2em 0;
    & > * {
        margin-top: 1.5em;
    }
}
.table-title {
    display: flex;
    justify-content: space-between;
}

//REDEFINING COLLAPSE Style, TODO: check it in kth-style
$black: #000000;

// White
$white: #ffffff;
 .collapse > a.pdf-link{
     color:red;
    //margin-left: 2em;
    font-size: 16px;
    background: url(https://app.kth.se/style/kth-style/img/kth-style/icons/arrow-black-right.svg) no-repeat;
    background-size: .9em .9em;    
    z-index:99;          
        //   &:before {
        //     background-color: aqua;
        // //   font-size: 16px;
        // //   background: url(https://app.kth.see/style/kth-style/img/kth-style/icons/file-pdf-fa-regular.svg) no-repeat;
        // //   background-size: .9em .9em;
        // //   z-index: 999;
        // }
    }
.card.collapsible.blue {
    .table-title > a::before{
        margin-left: .5em;
    }
}
.card.collapsible.white.rubric-list {
  margin-top: -1em;
  margin-bottom: 1em;
  .card-body.col.summary {
    padding: .3em 0;
  }
  &> .card-header.info-rubric {
    background-color: $white;

    a.collapse-header.title{
        color: $black;
        // margin-left: -1em;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.375;

        &:before {
          margin-left: 1em;
          font-size: 16px;
          background: url(https://app.kth.se/style/kth-style/img/kth-style/icons/arrow-black-right.svg) no-repeat;
          background-size: .9em .9em;
        }
    }}
}

