// Less code goes here...!

//@import "kth-style/public/sass/variables/sizes";
//@import "kth-style/public/sass/variables/colors";

// Bootstrap source
/*@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/kth-style/public/sass/bootstrap/variables";
@import "node_modules/bootstrap/scss/mixins";*/

// @keyframes rotateDown {
//     100% {
//       transform: rotate(90deg);
//       transform-origin: 22% 40%;
//     }
//   }

//   @keyframes rotateUp {
//     0% {
//       transform: rotate(90deg);
//       transform-origin: 22% 40%;
//     }
//   }
// a {
//     &[aria-expanded~='false'][load~='false'] {
//     &:before {
//       animation: rotateUp .3s ease-in-out forwards;
//     }
//   }


//   &[aria-expanded~='true'][load~='false'] {
//     &:before {
//       animation: rotateDown .3s ease-in-out forwards;
//     }
//   }
// }

.kursinfo-main-page {    
    padding-bottom: 3em;
    padding-top: 2em;
    //margin-bottom: 20px;
}
.courseTitle {
    margin: 0;
    margin-top: 20px;
    h1 {
        margin-bottom: 0;
    }
    .alert {
        margin-left: 0;
        //width: 50em;
    }
}

.alert {
    max-width: 100em;
    margin: 15px;
}

.right-links {
  float: right;
  text-align: right;
  margin: 1em;
  a {
      margin-left: 2em;
  }
}
p.underlined {
  border-bottom: 1px solid #000;
}


.table-title {
    display: flex;
    justify-content: space-between;
}

.tables-list {
    margin: 2em 0;
    & > * {
        margin-top: 1.5em;
    }
}
//REDEFINING COLLAPSES